<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>RiddleRealm</title>
  </head>
  <body>
    <h1>Riddle Generator</h1>
    <br /><br />
    <div class="container">
      <div class="riddle-card">
        <p class="riddle"><%= riddle %></p>
      </div>
      <div class="answer-card">
        <p class="answerTitle">Answer:</p>
        <p class="answer"><%= answer %></p>
      </div>
    </div>
    <button onclick="location.reload()">New</button>
    <div class="footer">
      <p>Developed by Pratham Shinde.</p>
      <P
        >API used :
        <a href="https://github.com/nkilm/riddles-api">Riddle API</a></P
      >
    </div>
    <script src="./index.js"></script>
  </body>
</html>
